body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #2f0000;
  }
  /*Create the card container*/
  .valentineCard {
    position: relative;
   width: 280px;
    height:380px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
  }
  
  .valentineCard:hover {
      transform: perspective(2500px) rotate(5deg);
      box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
  }
  
  .valentineCard:hover .cardFront {
    transform: rotateY(-160deg); 
  }
  
  .valentineCard:hover .cardCover {
  display: none;
}
  .valentineCard:hover .text {
  display: none;
}
  
   /**********/

  /*Style the front of the card*/
  .cardFront {
    position: relative;
    background-color: #edebdd;
    width: 280px;
    height:380px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
    transition: .4s;
  }
  .text{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .cardCover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  

  /*Style the inside part of the card*/
  .cardInside {
    position: absolute;
    background-color: #edebdd;
    width: 280px;
    height:380px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
  }
  
  .inside-text {
    position: relative;
    transform: scale(0.7);
  }
  .wishes {
    margin: 25px;
  }
  
  p {
  font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #333;
  }
  
  .name {
    margin-left:150px;
  }

